@charset "utf-8";
@import url("https://fonts.googleapis.com/css2?family=Rokkitt:wght@500&display=swap");

$back: #fdcb9e;
$color_tile: #624330;

$family-sans-serif: "Rokkitt", sans-serif;

$body-background-color: $back;
$primary: $color_tile;
$success: $back;

@import "../node_modules/bulma/bulma.sass";
@import "../node_modules/bulma-carousel/src/sass/index.sass";
